html {
    background-color: black;
}

h3 {
    color: lightgray;
    display: block;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 0;


}

p {
    text-align: center;
    margin: 0;
    padding: 0;
}

button {
    color: white;
    background-color: black;
    border-width: 4px;
    border-color: grey;
}

select {
    color: white;
    background-color: black;
    border-width: 4px;
    border-color: grey;
}


.welcome {
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 90px;
}

.ps {
    margin: 0;
}

.master {
    padding-top: 1em;
    text-align: center;
    background-color: lightgray;
}

.select-group:hover {
    font-size: 16px;
}


.showInfoText {
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    white-space: pre-line;
    max-height: 1.2em;
    /* (Number of lines you want visible) * (line-height) */
    line-height: 1.2em;
    color: lightslategray;
}

.showInfoText:hover {
    color: lightgrey;
    background-color: rgba(165, 42, 42, 0.411);
    overflow: visible;
    max-height: 9.6em;
    text-align: center;
}

.sp_picturesDiv {
    display: inline-block;
    width: 100%;
    padding: 2px;
    background-color: black;
    color: white;
    margin: 0px;
    overflow: auto;
    z-index: 10;
}


.pictureOfOrg {
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    border-width: 5px;
    height: auto;
    width: auto;
    padding-right: 0px;
}

.attri {
    font-size: 75%;
    color: white;
    background-color: black;
    white-space: nowrap;
    color: white;
    text-align: center;

}

/* Style the header */
.header {
    position: fixed;
    display: inline-block;
    top: 0;
    background: black;
    color: grey;
    margin-top: 0;
    padding-left: 5px;
    width: 97vw;
    padding-bottom: 4px;
    z-index: 100;
    overflow: auto;

}

/*
.header2 {
    text-align: center;
    background-color: black;
    color: white;
    position: fixed;
    width: 97vw;
}
*/

.links {
    color: white;
}


/* Page content all the pictures on main page */
.content {
    display: grid;
    padding: 0px;
    text-align: center;
    top: 40px;
    margin-top: 70px;
    color: white;
    background-color: rgb(77, 23, 23);
    margin-left: 0px;
    margin-right: 10px;
    grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));

}

.displayClass {
    display: none;
}

/*
.item {
    width: 10em;
}
*/
/*
.new {
    position: relative;
    z-index: 20;
}
*/

#editView {
    margin-top: 7em;
}

#iframe1 {
    position: fixed;
    top: 20vh;
    left: 5vw;
    width: 90%;
    height: 60vh;
    border: 3px solid #73AD21;
    z-index: 30;
}

#textArea {
    width: 90%;
    font-size: 16px;
    font-family: Times;
    padding-left: 1em;
    padding-right: 1em;
}

#pictureURL {
    word-wrap: break-word;
}